<template name="edit_node_modal">
    <div class="modal fade" id="editNodeModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <h3>{{_ "edit_node"}}</h3>
                    <form>
                        {{#with node}}
                        {{!-------------------------- Name ------------------------}}
                            <div class="form-group">
                                <label class="control-label" for="nodeNameField">{{_ "title"}}</label>
                                <input type="text" class="form-control" id="nodeNameField" value="{{name}}"/>
                            </div>
                            {{#unless graphId}}
                            {{! ------------------------- Details --------------------}}
                                <div class="form-group">
                                    <label class="control-label" for="nodeDetailsField">{{_ "details"}}</label>
                                    <textarea type="text" class="form-control" id="nodeDetailsField"
                                              value="{{details}}"></textarea>
                                </div>
                                <div class="form-group">
                                    {{! ------------------------- Image Display --------------------}}
                                    <label class="control-label" for="nodeImagesRow">{{_ "images"}}</label>
                                    <div class="row" id="nodeImagesRow" style="margin-left: 5px; margin-right: 5px">
                                        {{#each images}}
                                            <div class="col-xs-4">
                                                <a href="{{this}}" target="_blank" style="position: relative;">
                                                    <img class="img-thumbnail" src="{{this}}">
                                                </a>
                                                <a class="text-danger" href="#" id="deleteNodeImgBtn"
                                                   data-img-idx="{{@index}}"
                                                   style="position: absolute; top:5px;left:25px;">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                            </div>
                                        {{/each}}
                                        {{! ------------------------- Uplading Images --------------------}}
                                        {{#each uploadingImages}}
                                            <div class="col-xs-4">
                                                <progress
                                                        value={{percent_uploaded}} max="100">{{percent_uploaded}}</progress>
                                            </div>
                                        {{/each}}
                                    </div>
                                    {{! ------------------------- Add Image By URL --------------------}}
                                    <div class="input-group" style="margin-top:15px;">
                                        <input type="text" class="form-control" id="addImgField"
                                               placeholder="{{_ "add_image"}}"/>
                                        <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"
                                                            id="addImageBtn">{{_ "add"}}</button>
                                                </span>
                                    </div>
                                    {{! ------------------------- Upload Image --------------------}}
                                    <div class="image-upload">
                                        <label for="uploadImgBtn">
                                            <p class="btn btn-default btn-xs" style="margin-top:10px;">{{_
                                                    "upload_images"}}</p>
                                        </label>
                                        <input href="#" id="uploadImgBtn" type="file" accept="image/*"
                                               style="display:none;" multiple/>
                                    </div>
                                </div>
                                <hr/>
                                {{! ------------------------- Resources --------------------}}
                                <div class="form-group">
                                    <label class="control-label" for="nodeResourceList">{{_ "resources"}}</label>
                                    <ul class="list-group form-group" id="nodeResourceList">
                                        {{#each resources}}
                                            <li class="list-group-item">
                                                <a href="#" id="deleteResourceBtn" class="text-danger"
                                                   data-resource-idx="{{@index}}">
                                                    <i class="fa fa-times-circle"></i>
                                                </a>
                                                <a href="{{this}}" target="_blank" style="margin-left:8px;">
                                                    {{formatResource this}}
                                                </a>
                                            </li>
                                        {{/each}}
                                        {{#each uploadingResources}}
                                            <li class="list-group-item">
                                                <progress
                                                        value={{percent_uploaded}} max="100">{{percent_uploaded}}</progress>
                                            </li>
                                        {{/each}}
                                    </ul>
                                    {{! ------------------------- Add Resource by URL --------------------}}
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="addResourceField"
                                               placeholder="{{_ "add_resource"}}"/>
                                        <span class="input-group-btn">
                                                    <button class="btn btn-default" type="button"
                                                            id="addResourceBtn">{{_ "add"}}</button>
                                                </span>
                                    </div>
                                    {{! ------------------------- Upload Resource --------------------}}
                                    <div class="uploadRes">
                                        <label for="uploadResBtn">
                                            <p class="btn btn-default btn-xs" style="margin-top:10px;">
                                                {{_ "upload_resource"}}
                                            </p>
                                        </label>
                                        <input href="#" id="uploadResBtn" type="file" accept="application/pdf"
                                               style="display:none;" multiple/>
                                    </div>
                                </div>
                            {{/unless}}
                        {{/with}}
                        <hr/>
                        <div class="form-group pull-right">
                            <a class="btn btn-default" id="cancelModalBtn">{{_ "cancel"}}</a>
                            <a class="btn btn-primary" id="saveNodeModalBtn">{{_ "save_changes"}}</a>
                        </div>
                        <br/><br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>