<body>
<script type="jtk" id="processNode">
    <div style="left:${left}px;top:${top}px;width:${width}px;height:${height}px;" class="flowchart-object" id="${_id}">
        <jtk-target port-id="${name}" port-type="default" scope="${datatype}"></jtk-target>

        <div class="processTitle">
            ${name}
        </div>
        <br/>
        <div class="processOptions">
            <ul class="list-group">
                <r-each in="options">
                    <li class="list-group-item node-option" id="${id}">
                        ${name}
                        <jtk-source port-id="${name}" port-type="option" scope="${datatype}"></jtk-source>
                    </li>
                </r-each>
            </ul>
        </div>
  </div>

</script>
</body>
