/* ------------------------ dialogs ----------------------------*/

/* ----------------------- drag/drop interactions -------------- */
.drop-hover {
    background-color: #FCCCCC !important;
}

/* ----------------------- node styles ------------------------- */

.flowchart-object {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: .90;
    min-width: 0;
    min-height: 0;
    padding: 15px 10px 5px 10px;
    cursor: pointer;
    text-align: center;
    z-index: 10;
    position: absolute;
    background-color: #ebebec;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-object:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: .95;
    z-index: 11;
}

.flowchart-object .processTitle {
    font-size: 16px;
    font-weight: bold;
}

.flowchart-object .terminatorTitle {
    font-size: 16px;
    font-weight: bold;
}

.flowchart-object.jtk-surface-selected-element .node-action {
    display: block;
}

.flowchart-object .edgeLabel.jsplumb-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.flowchart-object.jtk-surface-selected-element {
    border: 1px solid #346789 !important;
    box-shadow: 2px 2px 15px 5px #52aae0;
    z-index: 25;
    opacity: 1.0;
}

.terminator-node {
    background-color: #ef6464;
    border: 1px solid #a15354;
    padding-bottom: 15px;
}

.virtual-node {
    background-color: #efdb8d;
    border: 1px solid #685f3d;
}

.flowchart-object:not(.jsplumb-connected) {
    background-color: #ffcdc8;
}

.first-node {
    background-color: #8BC34A !important;
    border: 1px solid #3e7a47;
}

.outer {
    fill: gray;
    opacity: 0.3;
    cursor: pointer;
}

.flowchart-object:hover .outer {
    opacity: 0.7;
}

.inner {
    cursor: move !important;
}

.connection-drop svg {
    fill: #CCC;
}

.connection-drop text {
    fill: black;
}

.jsplumb-drag {
    box-shadow: 2px 2px 19px #15988A !important;
}

.dummyRender {
    visibility: hidden;
}

.table-column {
    list-style-type: none;
    padding: 4px 6px;
}

.jsplumb-endpoint {
    z-index: 20;
    opacity: .5;
}

.jsplumb-connector {
    z-index: 5;
}

.jsplumb-connector.jsplumb-hover {
    z-index: 25;
}

.jsplumb-connector.jsplumb-dragging {
    z-index: 25;
}

.jtk-miniview {
    position: absolute;
    float: right;
    right: 75px;
    top: 25px;
    display: block;
    z-index: 10000;
}

#jsplumbToolbar {
    position: absolute;
    left: 75px;
    top: 25px;
    display: block;
    z-index: 100000;
}

.list-group-item.node-option {
    margin-bottom: 2px;
    border: 1px solid rgba(52, 103, 137, 0.28);
}

.list-group-item.node-option:not(.jsplumb-connected) {
    margin-bottom: 2px;
    border: 1px solid rgba(52, 103, 137, 0.28);
    background: #ffcdc8;
    font-weight: bold;
}

#jsplumbContainer {
    height: 100%;
    min-height: 90vh;
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f6f6f6;
}
