/* ------------------------ dialogs ----------------------------*/

/* ----------------------- drag/drop interactions -------------- */
.drop-hover {
    background-color: #FCCCCC !important;
}

/* ----------------------- node styles ------------------------- */

.flowchart-object {
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: .90;
    min-width: 0;
    min-height: 0;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    text-align: center;
    z-index: 10;
    position: absolute;
    background-color: #ebebec;
    color: black;
    font-family: helvetica, sans-serif;
    font-size: 0.9em;
    -webkit-transition: -webkit-box-shadow 0.15s ease-in;
    -moz-transition: -moz-box-shadow 0.15s ease-in;
    -o-transition: -o-box-shadow 0.15s ease-in;
    transition: box-shadow 0.15s ease-in;
}

.flowchart-object:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: .90;
    z-index: 11;
}

.flowchart-object .processTitle {
    font-size: 16px;
    font-weight: bold;
}

.flowchart-object .terminatorTitle {
    font-size: 16px;
    font-weight: bold;
}

.flowchart-object.jtk-surface-selected-element .node-action {
    display: block;
}

.flowchart-object .edgeLabel.jtk-hover {
    background-color: #5C96BC;
    color: white;
    border: 1px solid white;
}

.flowchart-object.jtk-surface-selected-element {
    border: 1px solid #346789 !important;
    box-shadow: 2px 2px 15px 5px #52aae0;
    z-index: 25;
    opacity: .9;
}

.terminator-node {
    background-color: #ef6464;
    border: 1px solid #a15354;
    padding-bottom: 15px;
}

.virtual-node {
    background-color: #efdb8d;
    border: 1px solid #685f3d;
}

.flowchart-object:not(.jtk-connected) {
    background-color: #ffcdc8;
}

.first-node {
    background-color: #8BC34A !important;
    border: 1px solid #3e7a47;
}

#tooblarMakeFirstNodeBtn {
    background-color: #8BC34A;
    border-color: #8BC34A;
}

.outer {
    fill: gray;
    opacity: 0.3;
    cursor: pointer;
}

.flowchart-object:hover .outer {
    opacity: 0.7;
}

.inner {
    cursor: move !important;
}

.connection-drop svg {
    fill: #CCC;
}

.connection-drop text {
    fill: black;
}

.dummyRender {
    visibility: hidden;
}

.table-column {
    list-style-type: none;
    padding: 4px 6px;
}

.jtk-endpoint {
    z-index: 26;
    opacity: 0;
}

.jtk-endpoint.jtk-hover {
    z-index: 26;
    opacity: .75;
}

.jtk-connector {
    z-index: 5;
}

.jtk-connector.jtk-hover {
    z-index: 25;
}

.jtk-connector.jtk-dragging {
    z-index: 25;
}

.jtk-miniview {
    position: absolute;
    float: left;
    left: 25px;
    bottom: 25px;
    display: block;
    z-index: 30;
}

#jsplumbToolbar {
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    z-index: 30;
}

.list-group-item.node-option {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid rgba(52, 103, 137, 0.28);
}

.node-option {
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}

.node-option:not(.jtk-connected) {
    color: #cb0c08;
    font-weight: bold;
}

.list-group-item.add-option {
    border: 1px solid rgba(52, 103, 137, 0.28);
}

.deleteOptSpan {
    visibility: hidden;
    float: left;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: 5px;
    font-size: 18px;
}

.node-option:not(.jtk-connected) > .deleteOptSpan {
    visibility: visible !important;
}

.nodeEditBtns {
    font-size: 18px;
    width: 100%;
    text-align: right;
}

.nodeEditBtns a {
    margin-left: 8px;
    color: black;
    opacity: .2;
}

#deleteNodeBtn:hover {
    color: #cb0c08;
    opacity: 1;
    font-weight: bold;
}

#editNodeBtn:hover {
    color: #52aae0;
    opacity: 1;
    font-weight: bold;
}

.first-node > .nodeEditBtns a {
    color: white;
    opacity: .35;
}

#jsplumbContainer {
    height: 100%;
    min-height: 90vh;
    position: relative;
    background-color: #f6f6f6;
}

.node-attachment.false {
    visibility: hidden;
}