<template name="graph_view">
    {{#if errorLoadingGraph}}
        <div class="container">
            <div class="text-center">
                <div class="alert alert-danger">
                    {{_ "failed_load_graph"}}
                </div>
            </div>
        </div>
    {{else}}
        {{#if loadingGraph}}
            {{> app_loading}}
        {{/if}}
        <div class="container-fluid">
            <div style="position: relative;display: block;{{#if loadingGraph}}visibility:hidden;{{/if}}">
                <div id="jsplumbMiniviewContainer"></div>
                <div>
                    <div class="btn-toolbar" id="jsplumbToolbar">
                        {{#unless readOnly}}
                            <div class="btn-group">
                                <a href="#" class="btn btn-default" id="saveBtn" disabled="{{savingGraph}}"><i
                                        class="fa fa-save"></i>
                                    {{#if savingGraph}}
                                        {{_ "saving"}}
                                    {{else}}
                                        &nbsp;&nbsp;{{_ "save"}}
                                    {{/if}}
                                </a>
                                <a href="#" class="btn btn-default" id="publishBtn"><i
                                        class="fa fa-globe"></i>
                                    &nbsp;&nbsp;{{_ "publish"}}
                                </a>
                            </div>
                        {{/unless}}
                        <div class="btn-group">
                            <a href="#" class="btn btn-default" id="zoomInBtn"><i class="fa fa-plus"></i></a>
                            <a href="#" class="btn {{#if nodesSelection}}btn-info{{else}}btn-default{{/if}}"
                               id="zoomToFitBtn"><i class="fa fa-eye"></i></a>
                            <a href="#" class="btn btn-default" id="zoomOutBtn"><i class="fa fa-minus"></i></a>
                        </div>
                        <div class="btn-group">
                            <a href="#" class="btn btn-default" id="relayoutBtn"><i class="fa fa-magnet"></i> </a>
                        </div>
                        {{#unless readOnly}}
                            <div class="btn-group">
                                <a href="#" class="btn btn-default" id="newNodeBtn">{{_ "add_step"}}</a>
                            </div>
                            {{#if nodesSelection}}
                                <div class="btn-group">
                                    <a href="#" class="btn btn-primary" id="tooblarEditNodeBtn"><i
                                            class="fa fa-pencil"></i></a>
                                    {{#if selectedVirtual}}
                                        <a href="/chart/{{selectedVirtualChartId}}" target="_blank"
                                           class="btn btn-warning"
                                           id="openVirtualGraphBtn"> <i class="fa fa-external-link"></i></a>
                                    {{else}}
                                        <a href="#" class="btn btn-primary" id="tooblarMakeFirstNodeBtn"><i
                                                class="fa fa-arrow-down"></i></a>
                                    {{/if}}
                                </div>
                                <div class="btn-group">
                                    <a href="#" class="btn btn-danger" id="toolbarDeleteNodeBtn"><i
                                            class="fa fa-trash"></i></a>
                                </div>
                            {{/if}}
                        {{/unless}}
                    </div>
                </div>
                <div class="container-fluid" id="jsplumbContainer"></div>
            </div>
        </div>
    {{/if}}
</template>